.rules {
  .title-rule {
    color: #f09e3e;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 100% !important;
    cursor: pointer;
  }
  .dieu-khoan {
    text-align: center;
    padding: 114px 0;
    height: 100px;
  }
  .RulesImg-icon {
    position: absolute;
    width: 300px;
    right: 0;
    opacity: 0.5;
  }
}
